h1,
h2,
body {
    text-align: center;
}
/* Lenteles nustatymai */
table {
    margin: 0 auto;
    border: 2px solid #68dd39; /* Rėmelis aplink nuorodą */
    border-radius: 5px; /* Užapvalinti kampai */
}

ul {
    padding: 0;
}
/* Paturbinsiu <a> tagus */
a {
    display: inline-block;
    padding: 2px 2px;
    text-decoration: none; /* Pašaliname pabraukimą */
    border: 2px solid #68dd39; /* Rėmelis aplink nuorodą */
    border-radius: 5px; /* Užapvalinti kampai */
    transition: transform 0.3s ease; /* Sklandus perėjimas */
}

a:hover {
    transform: scale(1.1); /* Padidėja 10%, kai užvedama pele */
}