h1,
h2,
body {
    text-align: center;
}
/* Lenteles nustatymai */
table {
    margin: 0 auto;
    border: 2px solid #68dd39; /* Remelis aplink nuoroda */
    border-radius: 10px; /* Uzapvalinti kampai */
}

ul {
    padding: 0;
}
/* Paturbinsiu <a> tagus */
a {
    display: inline-block;
    padding: 2px 2px;
    border: 2px solid #68dd39; /* remelis aplink <a> */
    border-radius: 5px; /* uzapvalinu */
    transition: transform 0.3s ease; /*  perejims */
}

a:hover {
    transform: scale(1.1); /* Padidėj, kai uzvedu pele */
}